// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'compass/css3';

$base-font: "Bariol", sans-serif;
$logo-font: "Raleway", sans-serif;

body {
  font-family: $base-font !important;
}

.logo {
  font-family: $logo-font;
}


.content, .content:before {
    width:73%;
}
.content {
    float:left;
    color: #6d7072;
    padding: 0 40px;
}
.content:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 27%;
    background: 100% 10% no-repeat;
    background-image: image-url("background.jpg");
}

.sidebar, .sidebar:before {
    width:27%;
}

.sidebar {
    float:left;
    font-size: 90%;
    padding: 0 40px;

    h1 {
      color: #0e242e;
      font-size: 55px;
      margin: 70px 0 50px 0;
    }

    h4 {
      font-weight:400;
      font-size:14px;
    }
}
.sidebar:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-color: #fff;
}

.title {
  text-align: center;
  color: #fff;

  h2 {
    margin-top: 80px;
  }

  span {
    color: #efb948;
    font-style: italic;
    margin: 0 5px;

  }
}

.subhead {
  padding-top:200px;

  hr {
    margin-top: 10px;
    border-top: 1px dotted;
    width: 30%;
    float: left;
  }
  p {
    width: 40%;
    float:left;
    text-align:center;
    color: #fff;
    font-size: 19px;
  }

  img {
    width: 85%;
    margin: 0 auto;
    display: block;
  }
}
.quotes {display: none;}

// error

.error-now {
  border: 1px solid #ea2f4c;
  border-bottom: 1px solid #ea2f4c !important;
}

// Animate

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
//form

.employee-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  border: 1px solid #eee;
  margin-top: 40px;
  .border-radius-form {
    @include border-radius(3px);
  }

  .white-background {
    @include border-radius(3px);
  }

  .full-width {
    width: 100% !important;
  }

  .border-right {
    border-right: 1px solid #eee;
  }

  .white-background {
    opacity: .9;
  }

  label {
    border-bottom: 1px solid #eee;
    color: #95a0a5;
    cursor: text;
    display: inline-block;
    margin-bottom: 0;
    height: 55px;
    width: 50%;
  }

  span {
    color: #95a0a5;
    display: block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 7px 0 0 6px;
    text-indent: 1px;
    text-transform: uppercase;
  }

  input {
    background: transparent;
    border: 0;
    color: #242a33;
    font-size: 13px;
    font-weight: 300;
    margin: 6px 0 0 6px;
    width: 95%;
    outline: none;
    line-height:normal;
  }

  .full-width {
    width: 100%;
  }

  .solid-btn {
    @include border-radius(0 0 3px 3px);
    background: #fc0;
    border: 0;
    border-bottom: 4px solid #f4b700;
    color: #fdfdfd;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px 1px #d6a000;
    text-transform: uppercase;
    width: 100%;
  }
}

.foot {
  text-align: center;
  padding: 10px 0;

  i {
    border-radius: 100%;
    width: 50px;
    border: 1px solid;
    height: 50px;
    font-size: 24px;
    padding: 12px 10px;
    margin: 10px;
    cursor: pointer;

  }

  .facebook {
    border-color: #3d5b97;
    color: #3d5b97;

    &:hover {
      background-color: #3d5b97;
      color: #fff;
    }
  }
  .twitter {
    border-color: #32ccfe;
    color: #32ccfe;

    &:hover {
      background-color: #32ccfe;
      color: #fff;
    }
  }
  .linkedin {
    border-color: #006599;
    color: #006599;

    &:hover {
      background-color: #006599;
      color: #fff;
    }
  }
}
.popup {
  text-align: center;
  padding: 15px;
  p {
    font-size: 17px;
    font-family: $base-font;
  }

  img {
    width:100%;
  }
}
